
        body{
            background-color: #eeeeee;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
        }
        h2{
            color: #4ecdc4;
        }
        h1{
            color: #bc00dd;
            
        }
        #pepo{
            width: 300px;
            position: absolute;
            left: 970px;
        }
        #habi{
            color:#4ecdc4 ;
        }
        #instalogo{
           width: 30px;
           
           
           
        }
        #githublogo{
            width: 30px
            
           
        }
        a{
            text-decoration: none;
            
        }
        li:hover{
            background-color:aquamarine
        }
        li:active{
            color:red ;
        }
        #descricao{
            text-align: left;
        }
            
          .image-container{
              height: 350px;
          }  
            
            
        
        #foto{
            float: left;
        }
        
        .nome-principal{
            text-align: center;
        }


    